@using AV.Set.Model
@helper Card(string color, string filling) {

<div class="card" data-shape="${Shape}" data-color="${Color}" data-count="${ShapeCount}" data-filling="${Filling}">
    <svg
        xmlns:svg="http://www.w3.org/2000/svg"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        height="100%" width="100%" 
        viewBox="0 0 290 450"
        version="1.1">
        <defs>
            <pattern       
                xlink:href="#Strips1_1_${Color}"
                id="pattern_strips_${Color}"
                patternTransform="matrix(10,0,0,10,-280.625,-475)" />
            <pattern       
                id="Strips1_1_${Color}"
                patternTransform="translate(0,0) scale(10,10)"
                height="1"
                width="2"
                patternUnits="userSpaceOnUse">
                <rect
                    height="2"
                    width="0.5"
                    y="-0.5"
                    x="0"
                    style="fill:@color;stroke:@color" />
            </pattern>
        </defs>
        <g  transform="rotate(${$item.Rotation}, 145, 225)">
    // fill: url(#pattern_strips)
       {{if Shape == 'Wave' }}
             {{each Coordinates}}
            <path
                style="fill: @filling; stroke: @color; stroke-width: 2; stroke-dasharray: none"
                d="m 235.19645,110.80572 c -16.148,-16.64701 -30.34072,-17.53082 -44.75204,-17.53079 -35.53577,0.8978 -53.73277,16.00931 -82.79739,36.25385 -11.22065,8.96033 -19.37631,12.13423 -27.65706,10.76315 C 54.38536,136.05249 26.23507,111.98912 11.87881,82.06932 7.37747,72.6881 5.2111999,65.4069 3.1900199,52.86471 1.5046399,39.76912 1.1148999,6.9916299 14.53762,3.2358599 c 8.39892,-1.41905 16.70709,6.48898 19.14494,9.1265501 18.49745,26.2622 45.2631,40.107 76.81903,34.04162 28.07819,-9.20778 44.55377,-21.52761 69.57588,-33.10895 15.79562,-7.2942001 29.44321,-11.0448301 41.81118,-11.4905401 11.10142,-0.40006 16.10669,0.96649 23.51219,6.41933 5.47423,4.0308201 7.89713,6.2638301 12.17295,11.2190601 10.52502,12.19734 17.24215,26.92519 23.60579,51.75751 1.59887,6.23911 1.88507,8.14681 2.96534,19.76449 1.58305,17.02508 1.90669,27.54551 1.03291,33.57579 -1.17885,8.13553 -6.86637,12.40076 -11.28981,14.40324 -13.2847,2.49286 -25.58218,-14.77652 -38.69157,-28.13824 z"
                transform="translate(0, ${$value})"/>
            {{/each}}
        {{/if}}
       {{if Shape == 'Circle' }}
             {{each Coordinates}}
            <path
                style="fill: @filling; stroke: @color; stroke-width: 2; stroke-dasharray: none"
                d="m 49.273122,1.9248398 c 59.359148,-0.73916 117.761598,-0.60407 195.913608,-0.24911 10.73746,0.0487 42.41783,13.2865902 42.77391,70.0871902 0.37799,60.29565 -31.31582,69.33804 -42.77391,69.53562 -78.17236,1.34797 -112.41787,-1.2131 -193.92487,0.0281 C 36.75168,141.54765 1.3982857,131.40518 1.4534783,70.03111 1.5114523,5.5644098 33.600219,2.1200098 49.273122,1.9248398 z"
                transform="translate(0, ${$value})"/>
            {{/each}}
        {{/if}}
       {{if Shape == 'Diamond'}}
             {{each Coordinates}}
            <path
                style="fill: @filling; stroke: @color; stroke-width: 2; stroke-dasharray: none"
                d="M 1.735715,70.272638 144.67645,1.052563 287.80145,69.878833 144.86071,139.0989 z"
                transform="translate(0, ${$value})"/>
            {{/each}}
        {{/if}}
        </g>
    </svg>
</div>
}
